# Split Works and Composer into Key Tables

In [1]:
import pandas as pd
import numpy as np

In [2]:
works = pd.read_table('data/interim/work_split.txt', sep='\t')
works.drop_duplicates(inplace=True)

IDsplit = works.ID.str.split(pat=r'\*', expand=True)
IDsplit.rename(columns={0: 'masterID', 1:'movementID'}, inplace=True)
IDsplit = IDsplit.apply(axis=0, 
                        func=lambda x: x.replace({'': 0}).astype(int))

In [3]:
works = works.merge(IDsplit, left_index=True, right_index=True)
works['movement'] = works.movement.fillna('')

In [4]:
composers = pd.Series(works.composerName.unique())
composers = pd.DataFrame({'composerID': composers.index, 'composerName': composers})
composers.loc[pd.isnull(composers.composerName), 'composerName'] = 'No Composer'
composers.head()

   composerID             composerName
0           0  Beethoven,  Ludwig  van
1           1  Weber,  Carl  Maria Von
2           2          Hummel,  Johann
3           3              No Composer
4           4      Rossini,  Gioachino

In [5]:
works = pd.merge(works, composers, on='composerName').drop('composerName', axis=1)
works.head()

,ID,movement,workTitle,masterID,movementID,composerID
0,52446*,,"SYMPHONY NO. 5 IN C MINOR, OP.67",52446,0,0
1,8837*6,"""In Des Lebens Fruhlingstagen...O spur ich nic...","FIDELIO, OP. 72",8837,6,0
2,52437*,,"SYMPHONY NO. 3 IN E FLAT MAJOR, OP. 55 (EROICA)",52437,0,0
3,52364*1,Overture,"EGMONT, OP.84",52364,1,0
4,52434*,,"SYMPHONY NO. 2 IN D MAJOR, OP.36",52434,0,0