# Work Soloist Transformation

In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_table('../data/split/prog_work_solo_split.txt', sep='\t')
inst = pd.read_table('../data/manual/solo_instrument_type.txt', sep='\t')

In [39]:
df = df.loc[df.soloistRoles=='S']
df.drop(['programID', 'soloistName', 'soloistRoles'], 1, inplace=True)

In [40]:
df2 = pd.merge(df, inst, on='soloistInstrument', how='left')
df2['soloistType'] = df2.soloistType.fillna('Other')
df2.drop('soloistInstrument', 1, inplace=True)
df2['counter'] = 1

In [41]:
print(df.shape, df2.shape)

(31584, 2) (31584, 3)

In [47]:
work_solos = df2.pivot_table(index='workID', columns='soloistType', values='counter',
                             aggfunc=lambda x: int(sum(x)>0), fill_value=0)

In [53]:
work_solos.head()

soloistType,Actor,Brass,Dancer,Ensemble,Keys,Other,Percussion,Speaker,String,Voice,Woodwind
workID,,,,,,,,,,,
1001*,0,0,0,0,0,0,0,0,1,0,0
10024*1,0,0,0,0,0,1,0,0,0,0,0
10024*2,0,0,0,0,0,0,0,0,0,1,0
10024*3,0,0,0,1,0,0,0,0,0,0,0
10024*4,0,0,0,1,0,0,0,0,0,1,0

In [ ]:
work_solos.to_csv()